body {
  background-image: url("jungle.jpg")

}

h1 {
  display: flex;
  justify-content:center;
  border-top: 2px solid #7c5d48;
  border-bottom:  2px solid #7c5d48;
  background-color : rgba(255,255,255,0.42);
  padding: 12px 0px 10px;
  }
header {
position: fixed;
display: block;
margin-left:auto;
margin-right: auto;
top: 100;
left: 700;
width:fit-content;
z-index: 100;
}

header  ul{
  display: flex;
  justify-content:center;
  border-top: 2px solid #7c5d48;
  border-bottom:  2px solid #7c5d48;
  background-color : rgba(255,255,255,0.42);
  padding: 12px 0px 10px;
  }

header  ul li {
 margin: 0 20px;
}
.graph {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
.graph li{
  flex-basis: 42%;
  margin-bottom: 28px;
}
